@page "/tables/additional-contacts"
@using DatingAgencyMS.Client.Helpers
@using DatingAgencyMS.Client.Features.AdditionalContacts.Components
<h3>Керування додатковими контактами</h3>

@if (_loggedInUser is not null)
{
    <div class="d-flex w-100 mb-3 gap-1">
        @if (UserState.Value.User!.IsAllowedToCreateEntities())
        {
        }
    </div>
    <AdditionalContactsList></AdditionalContactsList>
}