@page "/auth/forgot-password"
<h3>Відновлення пароля</h3>

<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
        @if (!string.IsNullOrEmpty(_password))
        {
            <p>Ваш пароль: @_password</p>
        }
        <EditForm FormName="loginForm" Model="ForgotPasswordRequest" OnValidSubmit="OnValidSubmit" class="w-25 h-100 border-black border-2 p-3 rounded-3">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="mb-3">
                <label for="login" class="form-label">Логін</label>
                <InputText @bind-Value="ForgotPasswordRequest.Login" type="text" class="form-control" id="login" placeholder="Введіть логін..."/>
            </div>
            <div class="mb-3">
                <ValidationMessage For="() => ForgotPasswordRequest.Login"></ValidationMessage>
            </div>
            <div class="row justify-content-between">
                <a href="/auth/login" class="col-4 btn btn-secondary">Скасувати</a>
                <button type="submit" class="col-4 btn btn-primary">Отримати пароль</button>
            </div>
        </EditForm>
    </div>
</div>