@using Blazored.LocalStorage
@using DatingAgencyMS.Client.Models.Core
@using DatingAgencyMS.Client.Store.UserUseCase
@using Fluxor
@using DatingAgencyMS.Client.Components.Controls
@using DatingAgencyMS.Client.Constants
@inherits LayoutComponentBase
@inject IState<UserState> UserState
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <NavBar></NavBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>