@page "/tables/clients"
@using DatingAgencyMS.Client.Features.Clients.Components
@using DatingAgencyMS.Client.Helpers
<h3>Керування клієнтами</h3>
<div class="d-flex w-100 mb-3 gap-1">
    @if (UserState.Value.User!.IsAllowedToCreateEntities())
    {
        <a class="btn btn-primary" href="/tables/clients/create">Створити клієнта</a>
    }
</div>
<ClientsList LoggedInUser="UserState.Value.User"></ClientsList>