@page "/tables/meetings"
@using DatingAgencyMS.Client.Features.Meetings.Components
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<h3>Керування зустрічами</h3>
@if (_loggedInUser is not null)
{
    <div class="d-flex w-100 mb-3 gap-1">

    </div>
    <MeetingsList></MeetingsList>
}
