@page "/tables/visits"
@using DatingAgencyMS.Client.Features.Visits.Components
@using BlazorBootstrap
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<a href="/tables">
    <Icon CustomIconName="fa-solid fa-arrow-right"></Icon>
    До списку таблиць
</a>
<h3>Керування відвідуваннями зустріч</h3>
@if (_loggedInUser is not null)
{
    <div class="d-flex w-100 mb-3 gap-1">
    </div>
    <VisitsList></VisitsList>
}
