@page "/"
@using DatingAgencyMS.Client.Models.Core
@using DatingAgencyMS.Client.Store.UserUseCase
@using Fluxor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<PageTitle>Домашня</PageTitle>

<div class="container">
    <div class="d-flex justify-content-center text-center">
        <h1>Вітаємо в системі керування базою даних бюро знайомств</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-2 d-flex justify-content-center">
            @if (User is null)
            {
                <a href="/auth/login" class="btn btn-primary m-auto">
                    Увійти
                </a>
            }
            else
            {
                <a href="/tables" class="btn btn-primary m-auto">
                    Почати
                </a>
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    public IState<UserState> UserState { get; set; }

    public LoggedInUser? User { get; set; }
    
    protected override void OnInitialized()
    {
        User = UserState.Value.User;
        UserState.StateChanged += UserStateOnStateChanged;
        base.OnInitialized();
    }

    private void UserStateOnStateChanged(object? sender, EventArgs e)
    {
        User = UserState.Value.User;
    }

}