@page "/tables/partner-requirements"
@using DatingAgencyMS.Client.Helpers
@using DatingAgencyMS.Client.Features.PartnerRequirements.Components
<h3>Керування вимогами до партнерів</h3>
<div class="d-flex w-100 mb-3 gap-1">
    @if (UserState.Value.User!.IsAllowedToCreateEntities())
    {
        <a class="btn btn-primary" href="/tables/partner-requirements/create">Додати вимоги до партнера</a>
    }
</div>
<PartnerRequirementsList></PartnerRequirementsList>