@using BlazorBootstrap
<Card>
    <CardBody>
        <CardTitle>@TableName</CardTitle>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="@TableLink">Перейти до таблиці</Button>
    </CardBody>
</Card>