<div class="input-group mb-3">
    <input @bind-value="_userQuery" type="text" class="form-control" placeholder="Логін користувача">
    <button class="btn btn-primary" type="button" @onclick="SearchUser">Button</button>
</div>