@page "/tables"
@using DatingAgencyMS.Client.Features.Tables.Components
<h3>Таблиці</h3>
<div class="w-100 border border-dark border-1 mb-3"></div>
<div class="d-flex gap-2 flex-wrap">
    <TableCard TableName="Клієнти" TableLink="/tables/clients"></TableCard>
    <TableCard TableName="Вимоги до партнерів" TableLink="/tables/partner-requirements"></TableCard>
    <TableCard TableName="Запрошення" TableLink="/tables/invitations"></TableCard>
    <TableCard TableName="Зустрічі" TableLink="/tables/meetings"></TableCard>
    <TableCard TableName="Відвідування" TableLink="/tables/visits"></TableCard>
    <TableCard TableName="Архів пар, що вирішили свої сімейні проблеми" TableLink="/tables/couple-archive"></TableCard>
</div>