@page "/users-management"
@using DatingAgencyMS.Client.Components.Controls.Users
<h3>Керування користувачами</h3>
<div class="d-flex w-100 mb-3">
    <a class="btn btn-primary" href="/users/create">Створити користувача</a>
</div>
<UserList Users="_users"></UserList>